@model ForOffer.Models.DB.ViewModel.ObservationViewModel

@{
    ViewData["Title"] = "Crear observacion";


    List<SelectListItem> place = (List <SelectListItem>)ViewData["Services"];
}

<h1>Crear</h1>

<h4>Observacion general para ofertas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Observaciones" asp-action="AddObservations" method="post">

            @Html.LabelFor(d=>d.GeneralObservationText,"Observaciones Generales")
            @Html.TextAreaFor(d => d.GeneralObservationText, new { @class = "form-control", required = "required" })
            @Html.ValidationMessage("GeneralObservationText",new  { @class="text-danger"})
            @**
        <div class="form-group">
            <label asp-for="GeneralObservationText" class="control-label"></label>
            <textarea asp-for="GeneralObservationText" class="form-control" rows="6" ></textarea>
            <span  class="text-danger" required="required"></span>
        </div>
            *@
            <div class="form-group">
                <label asp-for="GeneralObservationServicesId" class="control-label"></label>
                <select asp-for="GeneralObservationServicesId" class="form-control" asp-items="place" required="required">
                    <option value="">Selecione uno</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ObservationList">Volver</a>
</div>
